<nav class="navbar navbar-default" ng-controller="NavController" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Paul Tiller</a>
  </div>
  <div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="https://www.instagram.com/pftiller/" target="_blank"><span class="fa fa-instagram"></span></a>
      </li>
      <li>
        <a href="https://www.facebook.com/paul.tiller.5" target="_blank">
          <span class="fa fa-facebook"></span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/paul_tiller" target="_blank">
          <span class="fa fa-twitter"></span>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/paultiller" target="_blank">
          <span class="fa fa-linkedin"></span>
        </a>
      </li>
      <li>
        <a href="https://github.com/pftiller" target="_blank">
          <span class="fa fa-github"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>