<div class="container">
  <div class="row">
    <div class="box col-12" id="profile">
      <div class="profile-info">
        <h1>
          About Me
        </h1>
        <hr class="purple" />
        <div class="flip">
          <div class="card" ng-class="{'flipped':isFlipped}"
          ng-click="isFlipped=!isFlipped">
            <div class="face front">
              <img ng-src="assets/images/paul.jpg" alt=
              "Photo of Paul Tiller" class="profile-image" />
            </div>
            <div class="face back">
              <div class="margin">
                <p>
                  pftiller@gmail.com
                </p>
                <p>
                  612-803-6436
                </p>
              </div>
            </div>
          </div>
        </div>
          <p>
            I specialize in digital analytics and data analysis. I strive to simplify reporting processes, through streamlining and automation, building reliable data streams across an array of digital products. I am proficient in several business intelligence and data visualization tools. I am experienced working with HTML, CSS and JavaScript, as well as some of the leading frameworks of the modern web, including Angular and React. 
          </p>

      </div>

    </div>
    <div class="box clearfix col-sm-5" id="experience">
      <h1>
        Experience
      </h1>
      <hr class="purple" />
      <p>
        I have experience working in with the following
        technologies:
      </p>
      <div id="technologies">
        <ul class="group">
            <li class="analytics">Google Analytics
            </li>
            <li class="gtm">Google Tag Manager
            </li>
            <li class="html5">HTML5
            </li>
            <li class="css3">CSS3
            </li>
              <li class="javascript">JavaScript
              </li>
              <li class="node">Node.js
              </li>
              <li class="postgresql">PostgreSQL
              </li>
              <li class="reactjs">ReactJS 
              </li>
                <li class="tableau">Tableau
                </li>
                <li class="aws">AWS
                </li>
                <li class="gcloud">Google Cloud
                </li>
                <li class="gds">Google Data Studio
                </li>
              </ul>  
      </div>
    </div>
    <div class="box col-sm-5" id="education">
      <h1>
        Education
      </h1>
      <hr class="purple" />
      <div class="ed-entry">
        <h5>
          Full Stack Software Engineering Certification
        </h5>
        <h6>
          Prime Digital Academy
        </h6>
        <p>
          October 2017 - April 2018
        </p>
      </div>
      <div class="ed-entry">
        <h5>
          Web Development Certificate
        </h5>
        <h6>
          Minneapolis Community and Technical College
        </h6>
        <p>
          January 2016 – April 2016
        </p>
      </div>
      <div class="ed-entry">
        <h5>
          Graphic Design Professional Certificate
        </h5>
        <h6>
          Minneapolis Community and Technical College
        </h6>
        <p>
          January 2015 – April 2015
        </p>
      </div>
      <div class="ed-entry">
        <h5>
          Bachelor of Arts
        </h5>
        <h6>
          University of Saint Thomas
        </h6>
        <p>
          September 2011 – May 2017
        </p>
      </div>
    </div>
    <div class="box projects col-12 clearfix">
      <h1>
          Work Examples
      </h1>
      <hr class="purple" />
    <div class="project-example">
      <h3>Salary Calculator</h3>
      <div class="iframe">
        <iframe height="375px" scrolling='yes' title='Salary Calculator' src='https://7fafa256b3b14f3e845e20c2b566a4e2.codepen.website' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>
        </iframe>
      </div>  
  </div> 
  <div class="project-example">
      <h3>Paul's Calculator</h3>
      <div class="iframe">
        <iframe height="375px" scrolling='yes' title="Paul's Calculator" src='https://f23aa76ba8f04474b557ad547f806449.codepen.website' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>
        </iframe>
      </div>  
  </div> 
  <div class="project-example2">
      <h3>Paul's Scoreboard</h3>
      <div class="iframe">
        <iframe height="425px" scrolling='no' title="Paul's Scoreboard" src='https://779841adaa9045d2a6cf240ee44c951a.codepen.website' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>
        </iframe>
      </div>
  </div> 
  </div>
  </div>

