@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

.row {
  margin-right: 0;
  margin-left: 0;
}

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.sixty {
  width: 60%;
  margin: -5px auto 0;
}

h1 {
  font-size: 32px;
}

p {
  text-align: left;
}

.box p {
  padding: 0 25px;
  margin-top: 10%;
}

.center {
  text-align: center;
  margin-top: 45px;
}

/* Navigation Styles */
.navbar {
  border-radius: 0;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #000;
  border: none;
}

.navbar-default {
  margin: auto;
  width: 95%;
  max-width: 875px;
  background-color: transparent;
  border: none;
}

.navbar-header {
  padding: 15px 0 10px;
  float: none;
}

.navbar-brand {
  font-size: 34px;
  float: none;
  font-family: 'Fredoka One', cursive;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: #D9D9D9;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
  color: #6633ff;
  transition: all .5s;
}

.purple {
  margin: -5px auto 5px;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(138, 132, 226, 1);
  width: 90%;
}

main {
  margin-top: 100px;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav a {
  font-size: 20px;
}

.navbar-nav>li>a {
  padding-bottom: 15px;
}

.box {
  padding: 10px;
  border-radius: 5px;
  background-color: #D9D9D9;
  height: 100%;
  margin: 10px auto;
  min-height: 175px;
}

.header h1 {
  margin-top: 5px;
}

/*flip */
body {
  background: #ccc;
}

.profile-info {
  float: right;
  min-width: 85%;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-info>p {
  width: 85%;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 1em;
}

.card {
  float: left;
  width: 175px;
  height: 175px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -webkit-transform-style: preserve-3d;
  -webkit-shape-outside: circle();
  shape-outside: circle();
  background: none;
  border: none;
}

.card .face {
  position: absolute;
  -webkit-backface-visibility: hidden;
  z-index: 2;
}

.card .face p {
  font-size: 10px;
  padding: 5px;
}

.margin {
  margin-top: 40px;
}

.card .front {
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  background: url('/assets/images/paul.jpg') no-repeat 0 center;
  border: 3px solid white;
}

.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}

.location {
  background-color: #222;
  color: yellow;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

#technologies {
  margin: 30px auto 0;
  width: 90%;
}

.group {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  align-content: space-between;
}

.group li {
  width: 100px;
  font-size: 12px;
  list-style: none;
  text-align: center;
  padding: 0 15px 5px;
  float: left;
  margin: 10px;
}

.clearfix {
  clear: both;
}

/* For mobile phones: */
@media (max-width: 480px) {
  .profile-image p {
    text-align: justify;
  }

  .group {
    justify-content: space-around;
  }
}

/* Styles for larger screens */
@media screen and (min-width: 768px) {
  .profile-info>p {
    text-align: left;
    width: 65%;
    display: inline-block;
    font-style: italic;
    font-size: 1.25em;
  }

  .profile-info {
    margin-top: 20px;
  }

  #technologies {
    margin-top: 15px;
    width: 95%;
  }

  .group {
    justify-content: space-around;
  }

  .group li {
    width: 75px;
  }

  .box {
    padding-right: 5px;
  }

  #profile {
    min-height: 225px;
    max-width: 800px;
  }

  .gutter .col-md-4:last-child {
    border-right: none;
  }

  .navbar-header {
    display: inline-block;
    float: left;
  }

  .navbar-default .navbar-brand {
    float: left;
  }

  .flex {
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: flex;
    max-width: 1200px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 15px 30px;
  }

  main {
    padding-top: 20px;
    margin-top: 60px;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }
}