  <div class="container">
    <div class="row">
        <div class="box col-12">
           <div class="profile-info">
            <h1>About Me</h1>
            <hr class="purple">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis purus sit amet lectus volutpat, ac consequat leo efficitur. Donec porttitor turpis eu orci tempor venenatis. Fusce porttitor faucibus justo, eget auctor lacus finibus ut. Vivamus mattis condimentum odio et vulputate.</p>
          </div>

          <div class="flip"> 
              <div class="card" ng-class="{'flipped':isFlipped}" ng-click="isFlipped=!isFlipped">

              <div class="face front"> 
                  <img ng-src="assets/images/paul.jpg" alt="Photo of Paul Tiller" class="profile-image">
              </div> 
              <div class="face back"> 
                  <h4>Me</h4>
                  <hr class="sixty">
                  <p>I thrive in work that utilizes my creativity, my gift for communicating expressively and my diligent work ethic.</p>

              </div> 
          </div>
        </div>
        </div>
        <div class="box col-md-6">
            <h1>Professional Experience</h1>
            <hr class="purple">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis purus sit amet lectus volutpat, ac consequat leo efficitur. Donec porttitor turpis eu orci tempor venenatis. Fusce porttitor faucibus justo, eget auctor lacus finibus ut. Vivamus mattis condimentum odio et vulputate.</p>
        </div>
        <div class="box col-md-6">
            <h1>Education</h1>
            <hr class="purple">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis purus sit amet lectus volutpat, ac consequat leo efficitur. Donec porttitor turpis eu orci tempor venenatis. Fusce porttitor faucibus justo, eget auctor lacus finibus ut. Vivamus mattis condimentum odio et vulputate.</p>
        </div>
    </div>
</div>