<div class="container">
  <div class="row">
    <div class="box profile col-12">
      <div class="profile-info">
        <h1>
          About Me
        </h1>
        <hr class="purple" />
        <p>
          I am a driven and versatile entry-level software
          developer. I recently completed a 20-week full stack
          engineering course through Prime Digital Academy. Now
          that I am done with this program, I am seeking employment
          that will allow me to put my new skills to use in pursuit
          of a career in web programming. I am looking for a
          position that will challenge me and help me grow
          professionally.
        </p>
      </div>
      <div class="flip">
        <div class="card" ng-class="{'flipped':isFlipped}"
        ng-click="isFlipped=!isFlipped">
          <div class="face front">
            <img ng-src="assets/images/paul.jpg" alt=
            "Photo of Paul Tiller" class="profile-image" />
          </div>
          <div class="face back">
            <div class="margin">
              <p>
                pftiller@gmail.com
              </p>
              <p>
                612-803-6436
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box clearfix experience col-sm-5">
      <h1>
        Experience
      </h1>
      <hr class="purple" />
      <p>
        I have experience working in with the following
        technologies:
      </p>
      <ul class="technologies">
        <li class="html5">HTML5
        </li>
        <li class="css3">CSS3
        </li>
        <li class="bootstrap">Bootstrap
        </li>
        <li class="javascript">JavaScript
        </li>
        <li class="jquery">jQuery
        </li>
        <li class="node">Node.js
        </li>
        <li class="postgresql">PostgreSQL
        </li>
        <li class="mongo">MongoDB
        </li>
        <li class="angularjs">AngularJS
        </li>
        <li class="material">AngularJS Material
        </li>
      </ul>
    </div>
    <div class="box education col-sm-5">
      <h1>
        Education
      </h1>
      <hr class="purple" />
      <div class="ed-entry">
        <h5>
          Full Stack Software Engineering Certification
        </h5>
        <h6>
          Prime Digital Academy
        </h6>
        <p>
          October 2017 - April 2018
        </p>
      </div>
      <div class="ed-entry">
        <h5>
          Web Development Certificate
        </h5>
        <h6>
          Minneapolis Community and Technical College
        </h6>
        <p>
          January 2016 – April 2016
        </p>
      </div>
      <div class="ed-entry">
        <h5>
          Graphic Design Professional Certificate
        </h5>
        <h6>
          Minneapolis Community and Technical College
        </h6>
        <p>
          January 2015 – April 2015
        </p>
      </div>
      <div class="ed-entry">
        <h5>
          Bachelor of Arts
        </h5>
        <h6>
          University of Saint Thomas
        </h6>
        <p>
          September 2011 – May 2017
        </p>
      </div>
    </div>
  </div>

<div class="box projects col-12">
    <h1>
        Work Examples
    </h1>
    <hr class="purple" />
  <div class="project-example">
    <h3>Salary Calculator</h3>
      <iframe height="300px" scrolling='yes' title='Salary Calculator' src='https://7fafa256b3b14f3e845e20c2b566a4e2.codepen.website' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>
      </iframe>
</div> 
<div class="project-example">
    <h3>Paul's Calculator</h3>
    <iframe height="300px" scrolling='yes' title="Paul's Calculator" src='https://f23aa76ba8f04474b557ad547f806449.codepen.website' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>
    </iframe>
</div> 
<div class="project-example">
    <h3>Paul's Scoreboard</h3>
    <iframe height="300px" scrolling='yes' title="Paul's Scoreboard" src='https://779841adaa9045d2a6cf240ee44c951a.codepen.website' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>
    </iframe>
</div> 
</div>